---
import Layout from "../layouts/BlogPost.astro"
---

<Layout
  title="About this blog"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("July 16 2023")}
  updatedDate={new Date("July 16 2023")}
>
  <p>
    You may be familiar with my YouTube channel where I host ian show, a funny little interview show where the guests are mostly just people I know.
  </p>

  <p>
    There's always a conversation going on, though, stuff behind the camera that you might not see in the episodes I publish on YouTube.
  </p>

  <p>
    That's why I created this blog, to share some of the random stuff I can't fit in the show. Hope you enjoy.
  </p>
</Layout>
